<h1><%= pluralize(@projects.size, 'Event') %></h1>

<%= link_to "Add project", new_project_path %>

<br>
<br>
<table border="1" cellpadding="5">
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th>Target</th>
    <th>I will achieve this goal at</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.description %></td>
    <td><%= number_to_currency(project.target_pledge_amount) %></td>
    <td><%= project.will_achieve %></td>
  </tr>
  <% end %>

</table>


